<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SMbiosdate</key>
	<string>04/22/11</string>
	<key>SMbiosvendor</key>
	<string>Apple Inc.</string>
	<key>SMbiosversion</key>
	<string>IM121.88Z.0047.B0A.1104221555</string>
	<key>SMboardproduct</key>
	<string>Mac-942B5BF58194151B</string>
	<key>SMfamily</key>
	<string>iMac</string>
	<key>SMmanufacturer</key>
	<string>Apple Inc.</string>
	<key>SMmemtype</key>
	<string>24</string>
	<key>SMproductname</key>
	<string>iMac12,1</string>
	<key>SMserial</key>
	<string>C02JC8YFDHJT</string>
	<key>SMsystemversion</key>
	<string>1.0</string>
</dict>
</plist>
